.page-header {
    padding: 0 24px;
    margin-bottom: 15px;
}

.page-header .page-title {
    font-weight: 600;
    font-size: large;
}

.page-header .page-description {
    opacity: .7;
    padding-top: 2px;
}

.page-header .page-header-separator {
    margin: 1px;
    padding-top: 2px;
    height: 100%;
}

.page-header .page-header-separator:after {
    content: '';
    vertical-align: middle;
    border-inline-start: 1px solid silver;
}

.page-header .page-extra {
    flex-grow: 1;
    text-align: end;
}

.page-header .go-back {
    padding-top: 4px;
    cursor: pointer;
}

.page-header .go-back:hover {
    opacity: .7;
}

.ant-form {
    background-color: white;
    min-height: 280;
    padding: 24px;
    border-radius: 6px;
}

.footer-items {
    background-color: rgb(251, 251, 251);
    border-top: 1px solid rgb(220, 220, 220);
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page-tags {
    padding: 3px;
}